$animate-slideOutLeft: true;
@mixin slideOutLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(#{$aniNameSpace}-slideOutLeft);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
  @if $animate-slideOutLeft {
    $animate-slideOutLeft: false !global;
    @include keyframes(#{$aniNameSpace}-slideOutLeft) {
      0% {
        @include transform(translateX(0));
      }
      100% {
        opacity: 0;
        @include transform(translateX(-2000px));
      }
    }
  }
}
