$animate-zoomIn: true;
@mixin zoomIn($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(#{$aniNameSpace}-zoomIn);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
  @if $animate-zoomIn {
    $animate-zoomIn: false !global;
    @include keyframes(#{$aniNameSpace}-zoomIn) {
      0% {
        opacity: 0;
        @include transform(scale3d(.3, .3, .3));
      }
      50% {
        opacity: 1;
      }
    }
  }
}
