$animate-fadeOutLeft: true;
@mixin fadeOutLeft($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(#{$aniNameSpace}-fadeOutLeft);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
  @if $animate-fadeOutLeft {
    $animate-fadeOutLeft: false !global;
    @include keyframes(#{$aniNameSpace}-fadeOutLeft) {
      0% {
        opacity: 1;
        @include transform(translateX(0));
      }
      100% {
        opacity: 0;
        @include transform(translateX(-20px));
      }
    }
  }
}
