$animate-rollOut: true;
@mixin rollOut($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(#{$aniNameSpace}-rollOut);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
  @if $animate-rollOut {
    $animate-rollOut: false !global;
    @include keyframes(#{$aniNameSpace}-rollOut) {
      0% {
        opacity: 1;
        @include transform(translateX(0px) rotate(0deg));
      }
      100% {
        opacity: 0;
        @include transform(translateX(100%) rotate(120deg));
      }
    }
  }
}
